body {
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  background: rgba(10, 70, 150, 0.3);
}


/*
  Top Navbar
*/

.top-navbar {
  position: fixed;
  background: rgba(250, 250, 250, 0.7);
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.top-navbar .left-side {
  list-style: none;
}

.top-navbar .left-side a {
  text-decoration: none;
}


/*
  Main
*/

.main {
  position: absolute;
  top: 20%;
  left: 10%;
  margin-top: -1em;
  margin-bottom: 2em;
  height: auto;
  width: 80%;
  text-align: center;
}

.main h1 {
  padding-bottom: 0.5em;
}

.main:hover {
  cursor: default;
}

.main #the-pass {
  display: inline-block;
}

.main #the-pass span:hover {
  cursor: text;
  background: rgba(255, 255, 255, 0.9);
}


/*
  Footer
*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  text-align: center;
}
